.navbar-container{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    height: 6rem;
    width: 100%;
}
.login-link{
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1.5rem;
    background-color: var(--main-color);
}
.navbar-title{
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 2rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--white);
}
.title{
    background-color: var(--white);
}
.login{
    color: white;
    font-size: 3rem;
}

.symbol{
    background-color: var(--main-color);

}
