.login-page-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-button, .demo-login-button{
    width: 80%;
    height: 2.5rem;
    background-color: var(--clr-page-bg);
    font-size: 1.2rem;
    color: var(--white);
    margin: 10px;
    border-color: var(--icon-color);
    border-radius: 5px;
}
.login-tilte{
    color: var(--icon-color);
}

.login{
    margin: 0.5rem 0 1rem 0;
}