.post-conatiner{
    background-color: var(--card-background);
}
.img{
    height: 14rem;
}
.profile-img img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 5px solid;
}
.profile-img{
    justify-content: center;
    margin-top: -7rem ;
    margin-left: 2rem;
    align-items: center;
}
.profile-detail{
    display: flex;
}
